* {
    box-sizing: border-box;
}
body{
    margin: 0;
}
h1 {
    text-align: center;
}
.container {
    width: 960px;
    min-height: 600px;
    background-color:white;
    margin: auto;
}
.container header{
    width: 100%;
    height: 60px;
    background-color: gray;
}
.container nav {
    width: 100%;
    height: 60px;
    background-color: gray;
}
.container main{
    display: flex;
    justify-content: space-between;
    margin-top: 18.72px;
}
.container main .left{
    width: 20%;
    min-height: 300px;
    background-color: gray;
}
.container main .center{
    width: 50%;
    min-height: 300px;
    background-color: gray;
}
.container main .right{
    width: 20%;
    min-height: 300px;
    background-color: gray;
}
.container footer {
    width: 100%;
    height: 60px;
    background-color: gray;
}